/build
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ files
.idea
**/.idea/*
!/.idea/vcs.xml
!/.idea/codeStyles
!/.idea/copyright
out/
*.iml

local.properties
/local.properties
.DS_Store